{% extends 'rpi_csdt_community/culture/cornrow_curves/base.html' %}
{% load static %}

{% block content %}
<div class="page-header">
  <h1>Introduction</h1>
</div>
{% with active="about" %}
  {{ block.super }}
{% endwith %}
<div class="two-column-5-7">
  <div class="column-left">
    <img src="{% static 'culture/images/cornrow_curves_image.jpg' %}" class="img-responsive" alt="Image of a cornrows braid" width="100%">
  </div>
  <div class="column-right">
    In this application you can explore cornrow history, and use math and computing to create your own colorful designs.
  </div>
</div>
{% endblock %}
